.sd-form-element{
	max-width:100%;
}
.h3{
	font-size: 1.35em;
}
.h4{
	font-size: 1.15em;
	margin-top: 13.5px;
    margin-bottom: 2.25px;
}
.width-50{
	width:50px;
}
.width-100{
	width:100px;
}
.width-200{
	width:200px;
}
.width-300{
	width:300px;
}
.width-400{
	width:400px;
}
.width-500{
	width:500px;
}
.width-600{
	width:600px;
}
.d-flex{
	display: -ms-flexbox;
	display:flex;
}
.m-r-2{
	margin-right: 20px;
}
.m-r-3{
	margin-right: 30px;
}
.m-r-4{
	margin-right: 40px;
}
.m-b-1{
	margin-bottom: 10px;
}
.m-b-15{
	margin-bottom: 15px;
}
.m-b-0{
	margin-bottom: 0;	
}
.m-b-1{
	margin-bottom: 10px;
}
.m-b-2{
	margin-bottom: 20px;
}
.m-t-0{
	margin-top:0;
}
.step-list li::before {
    padding: 0px 0px;
    position: absolute;
    width: 27px;
    text-align: center;
    height: 27px;
}
	
	